In [9]:
from selenium import webdriver
from selenium.webdriver.common.by import By

import pandas as pd
from simpledbf import Dbf5

In [ ]:
dbf = Dbf5('./DENGBRDBF/DENGBR15.dbf')
df = dbf.to_dataframe()

In [22]:
options = webdriver.ChromeOptions()
options.add_argument("--headless")

driver = webdriver.Chrome(chrome_options=options)
# driver = webdriver.Chrome()
driver.get("C:\workspace\ic ia\municipios.html");
# html_options = municipios.find_elements_by_css_selector('option')
html_options = driver.find_elements(By.CSS_SELECTOR, "option")

C:\Users\xgabr\AppData\Local\Temp\ipykernel_19788\1549331774.py:4: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(chrome_options=options)

In [26]:
d = {'codigo': [], 'municipio': []}
for element in html_options:
    texto = element.text.split(' ')
    d['codigo'].append(texto[0])
    d['municipio'].append(''.join(texto[1:]))

df = pd.DataFrame(d)
df = df.iloc[1:]
df

         codigo            municipio
1     MUNICIPIO          IGNORADO-RO
2        110001  ALTAFLORESTAD'OESTE
3        110002            ARIQUEMES
4        110003               CABIXI
5        110004               CACOAL
...         ...                  ...
5593     522205       VICENTINOPOLIS
5594     522220              VILABOA
5595     522230         VILAPROPICIO
5596  MUNICIPIO          IGNORADO-DF
5597     530010             BRASILIA

[5597 rows x 2 columns]

In [30]:
df = df[1:].reset_index(drop=True)
df.to_excel('codigo_municipios.xlsx')
df

         codigo        municipio
0        110003           CABIXI
1        110004           CACOAL
2        110005       CEREJEIRAS
3        110006  COLORADODOOESTE
4        110007       CORUMBIARA
...         ...              ...
5589     522205   VICENTINOPOLIS
5590     522220          VILABOA
5591     522230     VILAPROPICIO
5592  MUNICIPIO      IGNORADO-DF
5593     530010         BRASILIA

[5594 rows x 2 columns]